/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100% !important;
}
#edit-submit {
  width: 100%;
  background: #EFD01B;
}
.panel-col-last.panel-panel {
  width: 65%;
  margin-left: -16%;
  margin-left: 36%;
  padding-left: 5%;
  padding-top: 10%;
  margin-top: -26%;
  height: 100%;
  margin-top: -70%;
  padding-left: 260px;
  padding-right: 151px;
  height: 100%;
}
.panel-pane.pane-block.pane-block-3 {
  color: white;
}
.panel-2col-stacked.clearfix.panel-display {
  margin-top: 12%;
}
img.logo {
  height: 59px;
}
footer.l-footer.panel.row {
  background: #78868E;
}
section.block.block-block.contextual-links-region.block-block-9 {
  background-color: aquamarine;
  background-image: url("/sites/default/files/images/background.jpg");
  width: 60%;
  height: 360px;
}
section.block.block-block.contextual-links-region.block-block-10 {
  background-color: #EFD01B;
  height: 360px;
}
.medium-3 {
  width: 210px !important;
}
.row.l-footer-columns {
  background-color: #181D21;
}
a {
  color: #ffffff;
}
li.first.last.leaf {
    background: #EFD01B;
    width: 12%;
    border-color: black;
    border: double;
    height: 43px;
}
.l-footer.panel.row {
  text-align: center;
}
.tb-megamenu.tb-megamenu-main-menu {
  margin-top: -62px;
  padding-top: 22px;
  margin: 0 25px 0 0;
  margin-top: 0px;
  margin-left: 0px;
  height: 87px;
  margin-top: -90px;
  width: 1255px;
  padding-left: 340px;
  align-items: center;
  margin-left: 15px !important;
  justify-content: flex-end;
}
.tb-megamenu {
  background-color: #181D21;
}
img.logo {
  height: 87px;
  width: 250px;
}
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
  background-color: #181D21;
}
.tb-megamenu .nav > li > a {
  border-right: 0px solid #222 !important;
}
.tb-megamenu .nav > .active > a, .tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus {
  background-color: #181D21 !important;
}

h2.block-title {
  color: white;
}
.footer-six.medium-3.columns {
    color: white;
}
li.tb-megamenu-item.level-1.mega.active.active-trail {
background: #EFD01B !important;
color: #000 !important;
margin-left: 20px;
}
a:hover, a:focus {
    color: #181D21;
}
.form-required {
    display: none !important;
}
.panel-col-first.panel-panel {
  background-image: url("/var/www/local.pantheon.com/sites/default/files/images/backgroundimg.jpg");
}

section.block.block-tb-megamenu.block-tb-megamenu-main-menu.header {
    margin-left: 235px;
    width: 85%;
    background-color: #181D21;
}
h2.pane-title {
    text-align: center;
  }
  button, .button {
background-color: yellow !important;
color: black;
  }

  .medium-3 {
      width: 340px !important;
  }
    .footer-second.medium-3.columns {
    margin-left: 40px;
}

.footer-fifth.medium-3.columns {
    margin-left: -200px;
}
.footer-fourth.medium-3.columns {
    margin-left: -200px;
}
.footer-third.medium-3.columns {
    margin-left: -200px;
}
.footer-second.medium-3.columns {
    margin-left: 18px;
}
section.block.block-menu.contextual-links-region.block-menu-menu-solutions {
    float: right;
    margin-top: -70px;
}
.panels-flexible-region.panels-flexible-region-2-bottom_region.panels-flexible-region-first.panels-flexible-region-last {
    padding-left: 317px;
    background: #EFD01B;
    padding-left: 350px;
    padding-right: 350px;
}
footer-six.medium-3.columns {
    margin-right: 200px;
    margin-top: -71px;
}
.page-registration .panel-2col-stacked .panel-col-first .inside {
      height: 1000px;
}
.panel-col-first.panel-panel {
    margin-top: -180px;
    width: 50%;
}
.panel-col-first.panel-panel {
    margin-top: -180px;
    width: 50%;
    margin-left: -16px;
}
.first_fname  {
   float:left;
   width: 50%;
 }
 .last_lname {
   float: right;
   width: 50%;
}
 section.block.block-menu.block-menu-menu-solutions {
   float: right;
   margin-top: -80px;
}
.pane-content h1{
    padding-top: 40px;
        font-size: 36px;
        font-weight: normal;
    font-family: 'Fira Sans', sans-serif;
}
.panel-pane.pane-block.pane-block-3 {
    float: right;
    margin-right: 31%;
    color: #fbf5f5;
}
