/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
.html .l-header img.logo {
  height: 87px;
  width: 250px;
}
/* line 13, ../sass/screen.scss */
.html .l-header .tb-megamenu.tb-megamenu-main-menu {
  margin-top: -62px;
  padding-top: 22px;
  margin: 0 25px 0 0;
  margin-top: 0px;
  margin-left: 0px;
  height: 87px;
  margin-top: -90px;
  width: 1255px;
  padding-left: 340px;
  align-items: center;
  margin-left: 15px !important;
  justify-content: flex-end;
}
/* line 27, ../sass/screen.scss */
.html .l-header .tb-megamenu .nav > li > a {
  border-right: 0px solid #222 !important;
}

/* line 32, ../sass/screen.scss */
#edit-submit {
  width: 100%;
  background: #EFD01B;
}

/* line 36, ../sass/screen.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100% !important;
}

/* line 45, ../sass/screen.scss */
.panel-col-last.panel-panel {
  width: 65%;
  margin-left: -16%;
  margin-left: 36%;
  padding-left: 5%;
  padding-top: 10%;
  height: 100%;
  margin-top: -77%;
  padding-left: 260px;
  padding-right: 151px;
  height: 100%;
}

/* line 57, ../sass/screen.scss */
.panel-pane.pane-block.pane-block-3 {
  color: white;
}

/* line 60, ../sass/screen.scss */
.panel-2col-stacked.clearfix.panel-display {
  margin-top: 12%;
}

/* line 63, ../sass/screen.scss */
img.logo {
  height: 59px;
}

/* line 66, ../sass/screen.scss */
footer.l-footer.panel.row {
  background: #78868E;
}

/* line 69, ../sass/screen.scss */
section.block.block-block.contextual-links-region.block-block-9 {
  background-color: aquamarine;
  background-image: url("/sites/default/files/images/background.jpg");
  width: 60%;
  height: 360px;
}

/* line 75, ../sass/screen.scss */
section.block.block-block.contextual-links-region.block-block-10 {
  background-color: #EFD01B;
  height: 360px;
}

/* line 79, ../sass/screen.scss */
.medium-3 {
  width: 210px !important;
}

/* line 82, ../sass/screen.scss */
.row.l-footer-columns {
  background-color: #181D21;
}

/* line 85, ../sass/screen.scss */
a {
  color: #ffffff;
}

/* line 88, ../sass/screen.scss */
li.first.last.leaf {
  background: #EFD01B;
  width: 12%;
  border-color: black;
  border: double;
  height: 43px;
}

/* line 95, ../sass/screen.scss */
.l-footer.panel.row {
  text-align: center;
}

/* line 99, ../sass/screen.scss */
.tb-megamenu {
  background-color: #181D21;
}

/* line 102, ../sass/screen.scss */
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
  background-color: #181D21;
}

/* line 106, ../sass/screen.scss */
.tb-megamenu .nav > .active > a, .tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus {
  background-color: #181D21 !important;
}

/* line 110, ../sass/screen.scss */
h2.block-title {
  color: white;
}

/* line 113, ../sass/screen.scss */
.footer-six.medium-3.columns {
  color: white;
}

/* line 116, ../sass/screen.scss */
li.tb-megamenu-item.level-1.mega.active.active-trail {
  background: #EFD01B !important;
  color: #000 !important;
  margin-left: 20px;
}

/* line 121, ../sass/screen.scss */
a:hover, a:focus {
  color: #181D21;
}

/* line 124, ../sass/screen.scss */
.form-required {
  display: none !important;
}

/* line 127, ../sass/screen.scss */
.panel-col-first.panel-panel {
  background-image: url("/var/www/local.pantheon.com/sites/default/files/images/backgroundimg.jpg");
}

/* line 131, ../sass/screen.scss */
section.block.block-tb-megamenu.block-tb-megamenu-main-menu.header {
  margin-left: 235px;
  width: 85%;
  background-color: #181D21;
}

/* line 136, ../sass/screen.scss */
h2.pane-title {
  text-align: center;
}

/* line 139, ../sass/screen.scss */
button, .button {
  background-color: yellow !important;
  color: black;
}

/* line 144, ../sass/screen.scss */
.medium-3 {
  width: 340px !important;
}

/* line 147, ../sass/screen.scss */
.footer-second.medium-3.columns {
  margin-left: 40px;
}

/* line 151, ../sass/screen.scss */
.footer-fifth.medium-3.columns {
  margin-left: -200px;
}

/* line 154, ../sass/screen.scss */
.footer-fourth.medium-3.columns {
  margin-left: -200px;
}

/* line 157, ../sass/screen.scss */
.footer-third.medium-3.columns {
  margin-left: -200px;
}

/* line 160, ../sass/screen.scss */
.footer-second.medium-3.columns {
  margin-left: 18px;
}

/* line 163, ../sass/screen.scss */
section.block.block-menu.contextual-links-region.block-menu-menu-solutions {
  float: right;
  margin-top: -70px;
}

/* line 167, ../sass/screen.scss */
.panels-flexible-region.panels-flexible-region-2-bottom_region.panels-flexible-region-first.panels-flexible-region-last {
  padding-left: 317px;
  background: #EFD01B;
  padding-left: 350px;
  padding-right: 350px;
}

/* line 173, ../sass/screen.scss */
footer-six.medium-3.columns {
  margin-right: 200px;
  margin-top: -71px;
}

/* line 177, ../sass/screen.scss */
.page-registration .panel-2col-stacked .panel-col-first .inside {
  height: 1000px;
}

/* line 180, ../sass/screen.scss */
.panel-col-first.panel-panel {
  margin-top: -180px;
  width: 50%;
}

/* line 184, ../sass/screen.scss */
.panel-col-first.panel-panel {
  margin-top: -180px;
  width: 50%;
  margin-left: -16px;
}

/* line 189, ../sass/screen.scss */
.first_fname {
  float: left;
  width: 50%;
}

/* line 193, ../sass/screen.scss */
.last_lname {
  float: right;
  width: 50%;
}

/* line 197, ../sass/screen.scss */
section.block.block-menu.block-menu-menu-solutions {
  float: right;
  margin-top: -80px;
}

/* line 201, ../sass/screen.scss */
.pane-content h1 {
  padding-top: 40px;
  font-size: 36px;
  font-weight: normal;
  font-family: 'Fira Sans', sans-serif;
}

/* line 207, ../sass/screen.scss */
.panel-pane.pane-block.pane-block-3 {
  float: right;
  margin-right: 31%;
  color: #fbf5f5;
}

/* line 212, ../sass/screen.scss */
.form-item.form-type-textfield.form-item-field-first-name-und-0-value {
  padding-right: 20px;
}

/* line 215, ../sass/screen.scss */
.form-item.form-type-textfield.form-item-field-last-name-und-0-value {
  /* padding-left: 20px; */
}

/* line 218, ../sass/screen.scss */
.panel-pane.pane-block.pane-block-2 {
  margin-left: 200px;
}

/* line 221, ../sass/screen.scss */
img.imageblock-image {
  margin-left: 200px;
}

/* line 224, ../sass/screen.scss */
.panel-pane.pane-block.pane-block-3 {
  float: right;
  margin-right: 31%;
  margin-top: -180px;
  color: #fbf5f5;
}

/* line 230, ../sass/screen.scss */
.panel-pane.pane-block.pane-block-4 {
  margin-left: 37%;
  margin-top: -7%;
  color: white;
}

/* line 236, ../sass/screen.scss */
.l-header-region h5 {
  color: yellow;
}

/* line 239, ../sass/screen.scss */
.l-header-region h1 {
  color: white;
}

/* line 243, ../sass/screen.scss */
.l-header-region .panel-col-last p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
}

/* line 247, ../sass/screen.scss */
span.hybridauth-icon.google.hybridauth-icon-hybridauth-32.hybridauth-google.hybridauth-google-hybridauth-32 {
  background-image: url("/profiles/pantheonsite/themes/custom/zurb_pantheon/images/googleconnect.png");
}

/* line 250, ../sass/screen.scss */
span.hybridauth-icon.google.hybridauth-icon-hybridauth-32.hybridauth-google.hybridauth-google-hybridauth-32 {
  width: 522px;
  height: 40px;
  margin-left: 13px;
  background-image: url(/profiles/pantheonsite/themes/custom/zurb_pantheon/images/googleconnect.png);
}

/* line 256, ../sass/screen.scss */
.rtejustify span {
  font-size: 36px !important;
  color: white !important;
  margin-left: 37%;
}

/* line 263, ../sass/screen.scss */
.panel-col-last .pane-content h1 {
  color: black;
}
